<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link rel='stylesheet' href='/css/bootstrap-responsive.css' />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">L10n Community</a>
        </div>
      </div>
    </div>
    <%- body %>
  </body>
</html>